body {
    /*background-color: #e2d4e7 !important;*/
    /*font-family: 'Roboto Condensed', sans-serif !important;*/
    font-family: Segoe UI,Tahoma,Geneva,Verdana,sans-serif !important;
    color: white !important;
    background-color: #222 !important;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 10px;
    padding-right: 10px;*/
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: #ffffff !important;
}

    .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #39FF00 !important;
    }


.navbar-inverse {
    color: white !important;
    background-color: #663399 !important;
    /*background-color: rgb(169, 0, 255) !important;*/
}

.f {
    color: white !important;
    width: 100%;
    height: 100%;
    background: #303030 !important;
    padding-top: 10px !important;
    /*position: fixed !important;*/
}

.f1, .f2, .f3 {
    background: #303030 !important;
}

.navbar-fxed-top {
    border-bottom: 0px !important;
}

.navbar-inverse {
    border-bottom: 0px !important;
}

@media (max-width: 768px) {
    .navbar {
        opacity: 0.9 !important;
    }

    .navbar-brand {
        opacity: 0.9 !important;
        font-size: 14px;
        float: left;
        padding: 15px 15px;
        height: 30px !important;
        line-height: 1px !important;
    }

    .nav2 {
        /*opacity: 0.7 !important;
        filter: alpha(opacity=40);*/
        background-color: #53297c !important;
        /*background-color: #663399 !important;*/
    }

    .a1 {
        font-size: 18px !important;
    }

    .nav-xs {
        visibility: hidden !important;
    }

    .nav-xs2 {
        visibility: visible !important;
    }

    /*.clogin {
        padding-top: 0px !important;
    }*/
}


dd {
    color: #39ff00 !important;
}


/* The side navigation menu */
.sidenav {
    height: 200%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #000000 !important; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 55px; /* Place content 60px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
}

    /* The navigation menu links */
    .sidenav a {
        padding: 0px 0px 0px 10px;
        text-decoration: none;
        font-size: 17px;
        color: #FFFFFF;
        display: block;
        transition: 0.3s;
    }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: #39ff00;
        }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        /*bottom: 0;*/
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left 0.5s;
    padding: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Segoe UI,Tahoma,Geneva,Verdana,sans-serif !important;
}


a:focus {
    color: #39ff00 !important;
}


/*@media (max-width: 768px) {
    .body-content {
        margin-top: 25px;
    }
}*/

@media (min-width: 1213px) {
    .body-content {
        /*flex: 1;*/
        margin-top: 70px !important;
        position: relative !important;
    }
}

@media (min-width: 768px) and (max-width: 1212px) {
    .body-content {
        /*flex: 1;*/
        margin-top: 110px !important;
        position: relative !important;
    }
}

@media screen and (max-width: 767px) {
    .body-content {
        /*flex: 1;*/
        margin-top: 80px !important;
        position: relative !important;
    }
}

@media (min-width: 1213px) {
    .body-content {
        flex: 1;
        margin-top: 70px !important;
        position: relative !important;
    }
}

@media (min-width: 768px) and (max-width: 1212px) {
    .body-content {
        flex: 1;
        margin-top: 110px !important;
        position: relative !important;
    }
}

@media screen and (max-width: 767px) {
    .body-content {
        margin-top: 80px !important;
        position: relative !important;
    }
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

#main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width:991px) {
    .card .c1 {
        border-radius: 5px !important;
    }
}

.card .c2 a {
    display: inline-block;
}

.card .c1 p, .card .c2 p {
    margin: 5px 0px;
}
